@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}


.deal{
  background: url(images/deal-of-the-day.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.deal .content {
  max-width: 30rem;
}

.deal .content .title{
  font-size: 4rem;
  color: black;
}

.deal .content p{
  font-size: 1.7rem;
  padding: 1rem 0;
  color: #333;
}

.deal .content .count-down{
  display: flex;
  gap: 1rem;
  padding: .5rem 0;
}

.deal .content .count-down .box{
  width: 9rem;
  text-align: center;
  box-shadow: 0.5rem 1rem rgba(0, 0,0, .1);
  border: .1rem solid rgba(0, 0,0, .3);

}

.deal .content .count-down .box h3{
  color: black;
  background: #fff;
  height: 5rem;
  line-height: 5rem;
  width: 100%;
  font-size: 3rem;
}

.deal .content .count-down .box span{
  display: block;
  background-color: black;
  color: #fff;
  width: 100%;
  padding: .5rem;
  font-size: 1rem;
}

